# Mental Health Dataset Cleaning

## Import Dataset

In [26]:
import pandas as pd
import re

In [27]:
df = pd.read_excel(r"D:\ME\Data Analytics Projects\Mental Health\Mental Health Dataset.xlsx")
df

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

## Dropping Duplicates and Unneeded Column

In [28]:
df = df.drop_duplicates()

In [29]:
df = df.drop(columns = "comments")

## Replacing and Grouping Categorical Values

In [30]:
df['Gender'].unique()

array(['Female', 'M', 'Male', 'male', 'female', 'm', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'something kinda male?',
       'Cis Male', 'Woman', 'f', 'Mal', 'Male (CIS)', 'queer/she/they',
       'non-binary', 'Femake', 'woman', 'Make', 'Nah', 'All', 'Enby',
       'fluid', 'Genderqueer', 'Female ', 'Androgyne', 'Agender',
       'cis-female/femme', 'Guy (-ish) ^_^', 'male leaning androgynous',
       'Male ', 'Man', 'Trans woman', 'msle', 'Neuter', 'Female (trans)',
       'queer', 'Female (cis)', 'Mail', 'cis male', 'A little about you',
       'Malr', 'p', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means'], dtype=object)

In [31]:
df["Gender"] = df.Gender.apply(lambda s: re.sub(
                                    "((^F)([A-Za-z]+)*)|(^F$)",
                                    "Female",
                                    s.strip().title())
                                )

df["Gender"] = df.Gender.apply(lambda s: re.sub(
                                    "((^M)([A-Za-z]+)*)|(^M$)",
                                    "Male",
                                    s.strip().title())
                                )

In [32]:
df['Gender'].unique()

array(['Female', 'Male', 'Male-Ish', 'Trans-Female', 'Cis Female',
       'Something Kinda Male?', 'Cis Male', 'Woman', 'Male (Cis)',
       'Queer/She/They', 'Non-Binary', 'Nah', 'All', 'Enby',
       'Genderqueer', 'Androgyne', 'Agender', 'Cis-Female/Femme',
       'Guy (-Ish) ^_^', 'Male Leaning Androgynous', 'Trans Woman',
       'Neuter', 'Female (Trans)', 'Queer', 'Female (Cis)',
       'A Little About You', 'P', 'Cis Man',
       'Ostensibly Male, Unsure What That Really Means'], dtype=object)

In [33]:
df['Gender'] = df['Gender'].apply(lambda x: 'Other' if (re.search(r'\bmale\b', x, flags=re.IGNORECASE) and re.search(r'\bfemale\b', x, flags=re.IGNORECASE)) else ('Male' if re.search(r'(\bmale\b)|(\bman\b)|(\bguy\b)', x, flags=re.IGNORECASE) else ('Female' if re.search(r'(\bfemale\b)|(\woman\b)|(\she\b)|(queer\b)', x, flags=re.IGNORECASE) else 'Other')))

In [34]:
df['Gender'].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [35]:
df

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,2014-08-27 11:29:37,44,Male,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,Male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Don't know,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Yes,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No
1256,2015-11-07 12:36:58,34,Male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Don't know,Somewhat difficult,Yes,Yes,No,No,No,No,No,No
1257,2015-11-30 21:25:06,46,Female,United States,NC,No,No,No,NaN,100-500,...,Don't know,Don't know,Yes,No,No,No,No,No,No,No
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Yes,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No

In [36]:
df.dtypes

Timestamp                    datetime64[ns]
Age                                   int64
Gender                               object
Country                              object
state                                object
self_employed                        object
family_history                       object
treatment                            object
work_interfere                       object
no_employees                         object
remote_work                          object
tech_company                         object
benefits                             object
care_options                         object
wellness_program                     object
seek_help                            object
anonymity                            object
leave                                object
mental_health_consequence            object
phys_health_consequence              object
coworkers                            object
supervisor                           object
mental_health_interview              object
phys_health_interview                object
mental_vs_physical                   object
obs_consequence                      object
dtype: object

## Handling Nan Values

In [37]:
df.isna().sum()

Timestamp                      0
Age                            0
Gender                         0
Country                        0
state                        515
self_employed                 18
family_history                 0
treatment                      0
work_interfere               264
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
dtype: int64

In [38]:
df[df['state'].isna()==1]

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
7,2014-08-27 11:32:05,39,Male,Canada,NaN,NaN,No,No,Never,1-5,...,Yes,Don't know,No,No,No,No,No,No,No,No
9,2014-08-27 11:32:43,23,Male,Canada,NaN,NaN,No,No,Never,26-100,...,Don't know,Don't know,No,No,Yes,Yes,Maybe,Maybe,Yes,No
11,2014-08-27 11:32:49,29,Male,Bulgaria,NaN,NaN,No,No,Never,100-500,...,Don't know,Don't know,No,No,Yes,Yes,Yes,Yes,Don't know,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,2015-05-05 15:16:25,32,Female,United Kingdom,NaN,No,No,No,NaN,More than 1000,...,Don't know,Don't know,Maybe,No,Some of them,Yes,No,Yes,No,No
1245,2015-05-06 10:14:50,22,Male,Australia,NaN,No,Yes,Yes,Often,100-500,...,Yes,Don't know,Maybe,Maybe,No,Yes,No,Maybe,Don't know,Yes
1247,2015-05-07 10:08:50,36,Male,Finland,NaN,No,No,Yes,Often,6-25,...,No,Very difficult,Yes,No,Some of them,No,No,Maybe,Don't know,Yes
1251,2015-08-17 09:38:35,36,Male,South Africa,NaN,No,Yes,Yes,Often,100-500,...,Don't know,Somewhat easy,No,No,Some of them,Yes,No,Yes,Yes,No
1254,2015-09-12 11:17:21,26,Male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Don't know,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No

In [39]:
df['state'] = df['state'].fillna('Unknown')

In [40]:
df['self_employed'] = df['self_employed'].fillna('Unknown')
df['work_interfere'] = df['work_interfere'].fillna('Don\'t know')

In [41]:
df.isna().sum()

Timestamp                    0
Age                          0
Gender                       0
Country                      0
state                        0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
dtype: int64

## Filtering Age to 1>=x<=100

In [42]:
df.index[df['Age'] < 1 ].tolist()

[143, 715, 1127]

In [54]:
df.index[df['Age'] > 100].tolist()

[364, 390]

In [55]:
df = df[df['Age'] >= 1]

In [56]:
df = df[df['Age'] <= 100]
print(df)

               Timestamp  Age  Gender         Country    state self_employed  \
0    2014-08-27 11:29:31   37  Female   United States       IL       Unknown
1    2014-08-27 11:29:37   44    Male   United States       IN       Unknown
2    2014-08-27 11:29:44   32    Male          Canada  Unknown       Unknown
3    2014-08-27 11:29:46   31    Male  United Kingdom  Unknown       Unknown
4    2014-08-27 11:30:22   31    Male   United States       TX       Unknown
...                  ...  ...     ...             ...      ...           ...
1254 2015-09-12 11:17:21   26    Male  United Kingdom  Unknown            No
1255 2015-09-26 01:07:35   32    Male   United States       IL            No
1256 2015-11-07 12:36:58   34    Male   United States       CA            No
1257 2015-11-30 21:25:06   46  Female   United States       NC            No
1258 2016-02-01 23:04:31   25    Male   United States       IL            No

     family_history treatment work_interfere    no_employees  ...   anonymity  \
0                No       Yes          Often            6-25  ...         Yes
1                No        No         Rarely  More than 1000  ...  Don't know
2                No        No         Rarely            6-25  ...  Don't know
3               Yes       Yes          Often          26-100  ...          No
4                No        No          Never         100-500  ...  Don't know
...             ...       ...            ...             ...  ...         ...
1254             No       Yes     Don't know          26-100  ...  Don't know
1255            Yes       Yes          Often          26-100  ...         Yes
1256            Yes       Yes      Sometimes  More than 1000  ...  Don't know
1257             No        No     Don't know         100-500  ...  Don't know
1258            Yes       Yes      Sometimes          26-100  ...         Yes

                   leave mental_health_consequence phys_health_consequence  \
0          Somewhat easy                        No                      No
1             Don't know                     Maybe                      No
2     Somewhat difficult                        No                      No
3     Somewhat difficult                       Yes                     Yes
4             Don't know                        No                      No
...                  ...                       ...                     ...
1254       Somewhat easy                        No                      No
1255  Somewhat difficult                        No                      No
1256  Somewhat difficult                       Yes                     Yes
1257          Don't know                       Yes                      No
1258          Don't know                     Maybe                      No

         coworkers    supervisor mental_health_interview  \
0     Some of them           Yes                      No
1               No            No                      No
2              Yes           Yes                     Yes
3     Some of them            No                   Maybe
4     Some of them           Yes                     Yes
...            ...           ...                     ...
1254  Some of them  Some of them                      No
1255  Some of them           Yes                      No
1256            No            No                      No
1257            No            No                      No
1258  Some of them            No                      No

     phys_health_interview mental_vs_physical obs_consequence
0                    Maybe                Yes              No
1                       No         Don't know              No
2                      Yes                 No              No
3                    Maybe                 No             Yes
4                      Yes         Don't know              No
...                    ...                ...             ...
1254                    No         Don't know              No
1255                    No                Yes              No
1256                    No                 No              No
1257                    No                 No              No
1258                    No         Don't know              No

[1254 rows x 26 columns]

In [58]:
df.index[df['Age'] > 100].tolist()
df.index[df['Age'] <= 1].tolist()

[]

## Converting Cleaned Dataset to Excel

In [59]:
df.to_excel('mentalHealth.xlsx', index=False)